@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	overflow-y: hidden;
	background-color: #FFFFFB;
	color: #1E1C1C !important;
	font-family: 'Raleway';
}

a, p {
	font-family: 'Montserrat';
	font-size: 14px;

}

a {
	color: #1034A6;
}

a:visited {
	color: #1034A6;
}

p {
	line-height: 20px;
}

body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

body::-webkit-scrollbar {
    display: none;
}

.smooth-scroll {
	margin: 0 15px;
	font-size: 16px;
	color: none;
	text-decoration: none;
	color: #000;
}

.smooth-scroll:visited {
	color: #000;
}

.about {
	display: flex;
	height: 100vh;
}

.showcase {
	display: flex;
	height: 100vh;	
}

.skills {
	display: flex;
	height: 100vh;	
	justify-content: center;
	align-items: center;
}

.contact {
	display: flex;
	height: 100vh;	
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.navbar-top {
	top: 25px;
	right: 25px;
	position: fixed;
}

#about-scroll {
	color: #1034A6;
}

.logo-container {
	position: fixed;
	top: 25px;
	left: 25px;
}

.logo-container h2 {
	margin: 0;
	margin-bottom: 5px;
	font-size: 18px;
}

.logo {
	widows: 100px;
	height: 100px;
}

.scroll-down {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 25px;
	font-size: 18px;
}

.horizontal-text {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	margin: 0;
	font-size: 16px;
}

.horizontal-line{
	margin-top: 10px;
	width: 2px;
	height: 150px;
	background-color: #000;
}

.side-bar {
	position: fixed;
	right: 25px;
	top: 50%;
	width: 50px;
	height: 150px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	transform: translate(0, -50%);
}

.about-text {
	width: 40%;
	height: 80%;

	margin: 5%;
	margin-left: 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about-text h2 {
	margin: 5px 0;
}

.pfp-container {
	width: 45%;
	height: 80%;
	margin: 5%;
	margin-right: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 1000;
}

.pfp {
	margin-left: -150px;
	margin-top: -50px;
	width: 85%;
	-webkit-box-shadow: 75px 75px 0px 0px rgba(232,230,230,1);
	-moz-box-shadow: 75px 75px 0px 0px rgba(232,230,230,1);
	box-shadow: 75px 75px 0px 0px rgba(232,230,230,1);
}


.projects-container {
	margin: 5% 10%;
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.my-title {
	font-size: 22px;
	font-family: 'Raleway';
	margin-bottom: 15px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%; /* Adjust as needed */
  margin: 0 auto;

}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.card {
  flex: 0 0 calc(100%/3 - 30px);
  height: 500px;
  padding: 15px;
}

.left-button, .right-button{
	width: 25px;
	position: absolute;
	top: 40%;
  transform: translateY(-50%);
  border: none;
  background: #FFFFFB;
  color: #000;
  border: 2px solid #000;
  padding: 10px 10px;
  cursor: pointer;
}

.left-button {
  left: 0;
}

.right-button {
  right: 0;
}

.skills-used {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	display: none;
	justify-content: center;
	flex-wrap: wrap;
}
.one-skill {
	flex: 0 0 0;
	display: inline-block;
	font-weight: 700;
	white-space: nowrap;
	padding: 5px 10px;
	border: 2px solid #fff;
	margin: 8px;
	border-radius: 20px;
	color: #fff;
	font-size: 14px;
	transition: background-color 0.1s ease, color 0.1s ease;
}

.card-img-container {
  width: 100%;
  height: 45%;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  transition: background-size 0.5s ease;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
	box-shadow: 0 0 10px 3px rgba(0,0,0,0.3);
}

.card-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: transform 0.5s ease;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}

.card-img-container:hover > .card-img{
  transform: scale(1.2);
}

.skills-used {
  display: none;
}

.skills-used {
  display: none;
  align-items: flex-start;
  opacity: 0; /* Set initial opacity to 0 */
  animation: fadeIn 0.5s ease;
}

.overlay-grey {
	width: 100%;
  height: 100%;
	opacity: 0;
	background-color: #000;
	transition: opacity 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.card-img-container:hover .skills-used {
  display: flex;
  opacity: 1;
}

.card-img-container:hover .overlay-grey {
  opacity: 0.4;
}

.card:hover {
	cursor: pointer;
}

.one-skill:hover {
	background-color: #fff;
	color: #000;
}

.skills-container {
	width: 80%;
	height: 80%;
}

.boxes-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: space-around;
	flex-direction: row;
}

.skills-box-cont {
	display: flex;
	justify-content: space-around;
	align-items: start;

}

.skills-box-left, .skills-box-right {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: space-around;
	flex-direction: column;
}

.skills-box-left > div {
	display: flex;
	margin: 3px 0;
}

.skills-box-right > div {
	display: flex;
	margin: 3px 0;
}

.skills-box {
	width: 25%;
	padding: 15px 25px;
	margin: 15px 0;
	border: 2px solid #000;
	-webkit-box-shadow: 20px 20px 0px 0px rgba(232,230,230,1);
	-moz-box-shadow: 20px 20px 0px 0px rgba(232,230,230,1);
	box-shadow: 20px 20px 0px 0px rgba(232,230,230,1);
}

.skills-box p {
	margin: 0;
	margin-left: 15px;
}

.skills-box img {
	display: inline;
	max-width: 18px; /*Remove this line*/
	max-height: 18px;
	margin-right: px;
}

.skills-box > div {
	display: flex;
	margin: 3px 0;
}

.skills-box > h3 {
	margin-top: 5px;
}

.skill-img-container {
	width: 18px;
	height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-container {
	width: 80%;
	height: 75%;
	margin-top: 50px;
}

.social-contacts {
	width: 180px;
	height: 50px;
	margin-top: 25px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.contact-text {
	width: 30%;
	margin-top: 40px;
}

.copyright-container {
	height: 50px;
	display: flex;
	align-items: flex-end;
}

.side-bar img {
	width: 25px;
}

.menu-open {
	display: none;
}

.navbar-mobile {
	display: none;
}

@media only screen and (max-width: 600px) {
	body {
		overflow: visible;
	}

	.scroll-down {
		display: none;
	}

	.logo-container {
		position: absolute;
	}

	.navbar-top {
		left: 0;
	}

	.about {
		display: flex;
		height: auto;
		margin-top: 110px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.about-text {
		width: 80%;
		margin: 0;
	}

	.side-bar {
		display: none;
	}

	.pfp-container {
		width: 80%;
		margin: 25px;
	}

	.pfp {
		margin: 0;
		box-shadow: 25px 25px 0px 0px rgb(232, 230, 230);
	}
	.card {
	  flex: 0 0 calc(100% );
	  padding: 0;
	  padding-right: 30px;
	}

	.showcase {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: auto;
		margin-top: 100px;
	}
	.projects-container {
		margin: 0;
		width: 80%;
	}

	.card-img-container {
		box-shadow: none;
	}

	.left-button, .right-button {
		top: 30%;
		transform: none;
	}

	.card h3 {
		margin-top: 35px;
	}

	.card-img-container {
		height: 35%;
	}

	.skills {
		height: auto;
	}

	.skills-box {
		width: 100%;
	}

	.contact {
		height: 90vh;
	}

	.contact-text {
		width: auto;
	}
	.navbar-top {
		display: none;
	}
	.menu-open {
		display: block;
		position: fixed;
		top: 25px;
		right: 25px;
	}

	.navbar-mobile {
		display: flex;
		width: 100%;
		background-color: #FFFFFB;
		position: fixed;
		top: -250px;
	}

	.navnbar-links {
		display: flex;
		width: 100%;
		justify-content: space-around;
		align-items: center;
		padding: 15px 0;

	}
	.menu-open:hover + .navbar-mobile {
		top: 0px;
	}
}